<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.courierbk.app">

    <uses-permission
        android:name="android.permission.CAMERA" />

    <application
        android:name=".CourierBkApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LogActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".CameraReceiptActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ScanReceiptActivity"
            android:exported="false" />

        <activity
            android:name=".OcrActivity"
            android:exported="false" />

        <activity
            android:name=".OrderCheckActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".OrdersActivity"
            android:exported="false" />

        <activity
            android:name=".WorkActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>